#demo_container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    flex-direction: column;

    @media (min-width: $demo_responsive_column_threshold) {
        flex-direction: row;
    }

    #bb_input {
        display: flex;
        flex-direction: column;

        width: 100%;

        margin-bottom: 20px;
        @media (min-width: $demo_responsive_column_threshold) {
            flex: 1 0 0;
            margin-right: 10px;
            margin-bottom: 0;
        }

        .bb_submit_row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            margin-bottom: 5px;

            @media (min-width: $nav_responsive_mid_screen) {
                flex-direction: row;
            }

            label {
                font-size: 1.2em;
                font-weight: bold;
                margin-left: 10px;
                margin-top: 10px;
                @media (min-width: $nav_responsive_mid_screen) {
                    margin-top: 0;
                    order: -1;
                }
            }

            button {
                height: 100%;
                border: 2px solid $inria_grey;
                border-radius: 5px;
                padding: 6px;
                background-color: $inria_grey;
                color: white;
                font-size: 100%;
                transition-duration: 0.3s;
                outline: 0;

                &:hover {
                    background-color: lighten($inria_grey, 15%);
                }
                &:active, &:focus {
                    outline: 0;
                }
                &:active {
                    background-color: $inria_red;
                }
            }
        }

        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            border: 2px solid $inria_grey;
            border-radius: 5px;
            padding: 5px;
            outline: 0;
            box-shadow: none;
            font-family: "Inconsolata";
            background-color: $input_bg_color;
        }

        .select_wrapper {
            margin-top: 10px;
        }

        .helprow {
            width: 100%;
            text-align: right;
            font-size: 0.9em;
            margin-top: 10px;
        }
    }

    #demo_result {
        @media (min-width: $demo_responsive_column_threshold) {
            margin-left: 10px;
            flex: 1 0 0;
        }

        #res_error {
            @include error_box;
            font-size: 0.85em;
            display: none;

            margin-bottom: 10px;

            #res_error_verbatim {
                font-family: "Inconsolata";
            }
        }
        #res_unsupported_instrs {
            @include warning_box;
            font-size: 0.85em;
            display: none;

            ul {
                margin: 5px 0;
                li {
                    font-family: "Inconsolata";
                }
            }
            margin-bottom: 10px;
        }

        #res_stats {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;

            &>div {
                border: 2px solid $inria_grey;
                background-color: $input_bg_color;
                padding: 5px;
                border-radius: 5px;
                font-weight: bold;
                width: 40%;
                text-align: center;

                @media (min-width: $nav_responsive_large_screen) {
                    width: 30%;
                }

                .res_stat {
                    color: $inria_red;
                }
            }
        }

        #res_resource_usage {
            margin-top: 10px;
            display: grid;
            grid-template-columns: auto 1fr 5fr;
            grid-row-gap: 10px;
            row-gap: 10px;
            align-items: center;
            justify-content: stretch;

            .resource_collapse {
                grid-column: 1 / span 1;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }

            .resource_name {
                grid-column: 2 / span 1;
                text-align: center;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }
            .resource_usage {
                grid-column: 3 / span 1;
                @include labeled_progressbar_root(40px);

                &:hover {
                    cursor: pointer;
                }

                .resource_bar {
                    &.resource_bar_fine {
                        background-color: $progress_bar_fine;
                    }
                    &.resource_bar_meh {
                        background-color: $progress_bar_meh;
                    }
                    &.resource_bar_warn {
                        background-color: $progress_bar_warn;
                    }
                    &.resource_bar_crit {
                        background-color: $progress_bar_crit;
                    }
                }
            }

            .resource_details {
                grid-column: 3 / span 1;
                display: grid;
                grid-template-columns: 2fr 3fr;
                border: 1px solid $inria_grey;
                border-radius: 5px;
                padding: 10px;
                row-gap: 5px;
                grid-row-gap: 5px;
                align-items: center;
                justify-content: stretch;

                .instr_detail_label {
                    grid-column: 1/span 1;
                    font-family: "Inconsolata";
                    font-size: 0.8em;
                }
                .instr_detail_usage {
                    grid-column: 2/span 1;

                    @include labeled_progressbar_root(
                        20px,
                        $demo_instr_detail_bar_color,
                        18px,
                        16px,
                        13px,
                    );
                }
            }
        }
    }
}
