header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $header_bg_color;
    color: $header_text_color;
    margin: 0;
    padding: $header_top_padding 30px;
    padding-bottom: 0;

    @media (min-width: $nav_responsive_large_screen) {
        margin-bottom: - $nav_height - 5px;
        padding-left: $header_horizontal_padding;
        padding-right: $header_horizontal_padding;
        border-bottom: 5px solid $header_border_color;
    }

    @media (max-width: $header_responsive_small_screen) {
        flex-direction: column;
        padding: 5px;
    }

    #head_main_infos {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        font-size: $header_infos_med_font_size;
        font-family: $header_infos_font_family;

        @media (min-width: $nav_responsive_large_screen) {
            font-size: $header_infos_big_font_size;
            margin-bottom: 60px;
        }

        @media (min-width: $nav_responsive_mid_screen) {
            display: block;
        }

        @media (max-width: $header_responsive_small_screen) {
            flex-direction: row;
            font-size: $small_screen_font_size;
            flex-wrap: wrap;
            justify-content: center;
        }

        div {
            padding: 0 0.125em;
        }
    }

    .head_logo {
        padding: 10px;
        @media (min-width: $nav_responsive_large_screen) {
            padding-bottom: 10px + $header_top_padding;
        }
        a {
            display: flex;
            align-items: center;

            color: white;
            text-decoration: none;
            font-size: 2.5em;
            font-variant: small-caps;

            div {
                margin-left: 10px;
            }
        }
        img {
            height: $header_height;
            max-width: $header_logo_maxwidth;

            @media (max-width: $header_responsive_small_screen) {
                height: $header_height / 2;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: center;

    background-color: $header_bg_color;
    color: $header_text_color;
    margin: 0;
    padding: 0 30px;
    border-bottom: 5px solid $header_border_color;

    @media (min-width: $nav_responsive_large_screen) {
        justify-content: flex-end;
        background-color: transparent;
        padding: 0;
        margin-left: $header_logo_maxwidth + $header_horizontal_padding + 20px;
        margin-right: $header_horizontal_padding;
        border-bottom: none;
    }

    @media (max-width: $nav_responsive_mid_screen) {
        flex-wrap: wrap;
        padding: 0;
    }

    @media (max-width: $nav_responsive_small_screen) {
        flex-direction: column;
    }

    #mobile_nav_trigger {
        @media (min-width: $nav_responsive_small_screen + 1) {
            display: none;
        }
        padding-left: 15px;
        text-align: center;
    }

    a {
        @media (max-width: $nav_responsive_small_screen) {
            display: none; // Hidden at load
        }
    }

    a, div {
        i.fa {
            margin-right: 5px;
        }
        margin: 0;
        padding: 10px 20px;
        height: $nav_height;

        color: $header_text_color;
        font-size: $nav_font_size;
        text-decoration: none;

        &:hover {
            color: $header_text_color;
            background-color: lighten($header_bg_color, 10%);
        }
        &.current {
            background-color: $header_border_color;
        }
        &:focus {
            color: $header_text_color;
            background-color: lighten($header_bg_color, 10%);
            box-shadow: none;
        }

        @media (min-width: $nav_responsive_small_screen) {
            border-radius: 5px 5px 0 0;
        }

        @media (max-width: $nav_responsive_mid_screen) {
            height: auto;
            padding: 10px 15px;
            font-size: $small_screen_font_size;
        }

        @media (max-width: $nav_responsive_small_screen) {
            padding-left: 35px;
        }
    }
}
