@mixin box($bg_color: white, $border_color: black) {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid $border_color;
    background-color: $bg_color;
    color: $page_text_color;
}
@mixin error_box {
    @include box($error_box_color, $error_box_border_color);
}
@mixin info_box {
    @include box($info_box_color, $info_box_border_color);
}
@mixin success_box {
    @include box($success_box_color, $success_box_border_color);
}
@mixin warning_box {
    @include box($warning_box_color, $warning_box_border_color);
}

@mixin labeled_progressbar_root(
    $height: 40px,
    $fill_color: $inria_red,
    $label_height: 0.75 * $height,
    $label_font_size: 0.65 * $height,
    $label_line_height: 0.60 * $height,
) {
    border: 2px solid $inria_grey;
    background-color: $input_bg_color;
    border-radius: 3px;

    .progressbar_fill {
        height: $height;
        background-color: $fill_color;
    }
    .progressbar_label_parent {
        position: relative;
        &>div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $height;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .progressbar_label {
        background-color: #ffffffaa;
        border-radius: 3px;
        color: black;
        padding: 3px;
        margin: 2px;
        height: $label_height;
        font-size: $label_font_size;
        line-height: $label_line_height;
    }
}
