$inria_red: #E63312;
$inria_grey: #384257;
$inria_white: #FFFFFF;

$inria_red_effect: darken($inria_red, 10%);
$inria_lilas: #9b004f;

$page_bg_color: $inria_white;
$page_text_color: black;
$page_link_color: #c6491add;
$page_width: 800px;

$font_size: 16pt;
$font_family: "Open Sans";

$small_screen_font_size: 12pt;

$header_height: 90px;
$header_logo_maxwidth: 200px;
$header_bg_color: $inria_grey;
$header_text_color: $inria_white;
$header_infos_big_font_size: 1.4em;
$header_infos_med_font_size: 1.2em;
$header_infos_font_family: 'Inria Sans';
$header_border_color: $inria_red;
$header_top_padding: 20px;
$header_horizontal_padding: 80px;

$nav_font_size: 18pt;
$nav_height: 55px;

$header_responsive_small_screen: 700px;
$nav_responsive_large_screen: 1250px;
$nav_responsive_mid_screen: 900px;
$nav_responsive_small_screen: 475px;
$demo_responsive_column_threshold: 700px;

$footer_bg_color: $inria_grey;
$footer_border_color: $header_border_color;
$footer_font_size: 12pt;
$footer_link_color: rgba($inria_white, 0.8);

$info_box_color: #c9c8ff;
$info_box_border_color: darken($info_box_color, 20%);
$error_box_color: #ffdfdf;
$error_box_border_color: darken($error_box_color, 20%);
$success_box_color: #bafb95;
$success_box_border_color: darken($success_box_color, 20%);
$warning_box_color: #ffd36c;
$warning_box_border_color: darken($warning_box_color, 20%);

$progress_bar_fine: #65b575;
$progress_bar_meh: $warning_box_color;
$progress_bar_warn: #e89b09;
$progress_bar_crit: $inria_red;

$table_bg_base: #b8d1ff;
$table_head_bg: $table_bg_base;
$table_even_row_bg: rgba($table_bg_base, .30);
$table_odd_row_bg: white;

$input_bg_color: rgba($inria_grey, 0.08);

$demo_instr_detail_bar_height: 75px;
$demo_instr_detail_bar_color: #3fb5d9;
