table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid $inria_grey;

    td, th {
        border: 1px solid black;
        padding: 5px;
    }

    th {
        background-color: $table_head_bg;
    }

    tbody {
        tr:nth-child(even) {
            background-color: $table_even_row_bg;
        }
        tr:nth-child(odd) {
            background-color: $table_odd_row_bg;
        }
    }
}

.settings_container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    #searchbar {
        border: 2px solid $inria_grey;
        border-radius: 5px;
        padding: 0;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex: 1 0 70%;
        margin-right: 10px;
        background-color: $input_bg_color;

        &:focus-within {
            border-color: $inria_red;
        }

        input {
            border: 0;
            padding: 3px;
            flex-grow: 1;
            outline: 0;
            margin: 0 5px;
            box-shadow: none;
            background-color: transparent;
        }
        label {
            padding: 3px;
            margin: 0 5px;
        }
    }

    #mapping_selector {
        flex: 1 0 25%;
        margin-left: 10px;

        .select_wrapper {
            height: 100%;
        }
    }
}

.mapping_table {
    margin-top: 15px;

    table-layout: fixed;
    font-family: "Inconsolata";
    thead {
        th:nth-child(1) {
            width: 25%;
        }
        th:nth-child(2) {
            width: 25%;
        }
        th:nth-child(3) {
            width: 8%;
        }
        th:nth-child(4) {
            width: 8%;
        }
        th:nth-child(5) {
            width: 35%;
        }
    }

    th {
        .sort_btn {
            font-size: 0.8em;
            float: right;
            margin: 0 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .reschunk {
        display: inline-block;
        .resweight {
            .resnum, .resden, .resnat, .resfracbar{
                font-size: 0.8em;
                position: relative;
            }
            .resnum {
                top: -3px;
            }
            .resden {
                top: 3px;
            }

            margin-right: 0.5ex;
        }
    }
    .resplus {
        margin: 0 0.75ex;
    }
}
