@charset "utf-8";
@import "fonts.css";
@import "_params";
@import "_mixins";
@import "_header";
@import "_table";
@import "_demo";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $page_bg_color;
    font-size: $font_size;
    font-family: $font_family;
    color: $page_text_color;
    margin: 0;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 100%;

    @media (max-width: 700px) {
        font-size: $small_screen_font_size;
    }
}

main {
    display: flex;
    justify-content: center;

    flex: 1 0 auto;
}

#main_content {
    width: $page_width;
    padding: 20px;
    margin-bottom: 50px;
    text-align: justify;

    &.fullsize_page {
        width: 100%;
        margin: 0 20px;
    }
}


footer {
    margin-top: auto;
    background-color: $footer_bg_color;
    border-top: 5px solid $footer_border_color;
    font-size: $footer_font_size;

    #footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $page-width * 1.3) {
            width: $page_width * 1.3;
            padding: 15px;
        }
        @media (max-width: 650px) {
            width: 100%;
            padding: 15px 20px;
        }
        width: 100%;
        padding: 15px 70px;
        margin: 0 auto;
    }

    #sponsors {
        display: flex;
        align-items: center;

        @media (max-width: 400px) {
            flex-direction: column;
        }

        img {
            margin: 0;
            @media (min-width: 560px) {
                height: 50px;
                margin-right: 40px;
            }
            @media (max-width: 400px) {
                margin-bottom: 10px;
                margin-right: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            height: 40px;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    #footer_links {
        list-style-type: none;
        padding: 0;
        margin: 0 10px;

        a {
            color: $footer_link_color;
            &:hover {
                color: darken($footer_link_color, 10%);
            }
        }
    }
}

a {
    text-decoration: underline;
    color: $page_link_color;
    border-radius: 3px;

    &:hover {
        color: darken($page_link_color, 20%);
    }

    &.helplink {
        color: $page_text_color;
        text-decoration: none;
        font-family: "FontAwesome";
        font-size: 0.8em;
        position: relative;
        top: -0.1em;
        padding-left: 5px;
        &:hover {
            color: #c45d37;
        }
        &::before {
            content: '\f059';
        }
    }

    &.biglink {
        text-decoration: none;
        width: 65%;
        display: block;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        margin: 5px auto;
        background-color: $inria_red;
        color: $inria_white;

        &:hover {
            background-color: $inria_lilas;
        }
    }
}

:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1px $page_link_color;
}
::-moz-focus-inner {
    border: none;
}

.messages {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    font-size: 0.8em;

    li {
        margin: 8px 0;
    }
}

.error { @include error_box; }
.info { @include info_box; }
.warning { @include warning_box; }
.success { @include success_box; }

.antispam {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.fa-slow-spin {
    animation: fa-spin 15s infinite linear;
}

/* Select */
.select_wrapper {
    &.in_column_flex {
        flex: 0 0 40px;
    }
    select {
        width: 100%;
        height: 100%;
        outline: 0;
        box-shadow: none;
        background-color: $input_bg_color;
        border: 2px solid $inria_grey;
        border-radius: 5px;
        padding: 3px;
        padding-left: 10px;

        /* Remove default arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    width: 100%;
    height: 40px;
    position: relative;
    &::after {
        content: "\25bc";
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        padding: 0 10px;
        line-height: 35px;
        font-size: 15px;
        background-color: $inria_grey;
        color: $inria_white;
        border-radius: 0 5px 5px 0;
        z-index: -1;
    }
    .helplink {
        display: flex;
        position: absolute;
        height: 40px;
        right: 0;
        top: 0;
        right: 40px;
        z-index: 1;
        padding: 0;
        font-size: 1em;
        flex-direction: column;
        justify-content: center;
    }
}

.explained {
    text-decoration: underline black dotted;
}

em {
    font-weight: bold;
    font-style: normal;
}

.italic {
    font-style: italic;
}

.palmed {
    font-variant: small-caps;
    &::before {
        content: 'Palmed';
    }
}

.mapping_category {
    margin-bottom: 8px;
    margin-top: 35px;
}
.mappinglist {
    list-style: none;
    border-left: 2px solid $inria_grey;
    margin-top: 0;
    margin-left: 10px;
    padding-left: 0;
    li {
        margin: 0;
        margin-bottom: 30px;
        padding-left: 10px
    }
    .mappingtagrow {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        @media (min-width: 550px) {
            flex-direction: row;
        }
    }
    .mappingtag {
        border: 1px solid $inria_grey;
        box-shadow: 2px 2px 1px $inria_grey;
        padding: 2px 10px;
        border-radius: 5px;
        margin: 5px;
        flex: 0 0 auto;

    }
    a.mappingtag {
        text-decoration: none;
        color: $page_text_color;
        box-shadow: 2px 2px 1px $page_link_color;
        border-color: $page_link_color;
        &:hover {
            box-shadow: 2px 2px 2px 1px $page_link_color;
        }
    }
    .mappingname {
        background-color: $inria_grey;
        box-shadow: 2px 2px 1px rgba($inria_grey, 0.4);
        color: white;
        font-weight: bold;
    }
    .mappingcpu::before {
        font-family: "FontAwesome";
        content: "\f2db";
    }
    .mappingarch::before {
        font-family: "FontAwesome";
        content: "\f085";
    }
    .mappingisa::before {
        font-family: "FontAwesome";
        content: "\f013";
    }
    .mappingsrc {
        margin: 3px 0;
        margin-left: 35px;
        border-left: 3px solid $inria_red;
        background-color: rgba($inria_red, 0.10);
        border-radius: 5px;
        padding-left: 10px;
        &::before {
            font-family: "FontAwesome";
            content: "\f071";
            color: $inria_red;
        }
    }
    .mappingdescr {
        margin-left: 30px;
    }
}
