{% load static %}

    <footer>
      <div id="footer_content">
        <div id="sponsors">
          <img src="{% static "img/inria.svg" %}"
               alt="INRIA"
               title="INRIA"
               />
        </div>
        <ul id="footer_links">
          <li><a href="{% url "mainsite:home" %}#team">
              <i class="fa fa-users" aria-hidden="true"></i>
              Who are we?
            </a></li>
          <li><a href="{{ research_article_ieee_url }}">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
              {{ research_article_ieee_descr }}
            </a></li>
          <li><a href="https://gitlab.inria.fr/nderumig/palmed">
              <i class="fa fa-gitlab" aria-hidden="true"></i>
              PALMED's code
            </a></li>
          <li><a href="https://gitlab.inria.fr/CORSE/palmed-webdemo">
              <i class="fa fa-gitlab" aria-hidden="true"></i>
              This website's code
            </a></li>
        </ul>
      </div>
    </footer>
