{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PALMED</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="icon" type="image/png" href="{% static "img/favicon32.png" %}">
    <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
