{% load static %}

    <header>
      <div class="head_logo">
        <a href="{% url "mainsite:home" %}">
          <img src="{% static "img/palmed_logo.svg" %}" alt="logo" />
          <div>
            Palmed
          </div>
        </a>
      </div>

      <div id="head_main_infos">
        <span>A CPU abstract resource</span> <span>mapping model</span>
      </div>
    </header>

    <nav>
      <div id="mobile_nav_trigger" onclick="mobile_nav_toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
        Menu
      </div>
      {% with url_name=request.resolver_match.url_name %}
      <a {% if url_name == "home" %}class="current"{% endif %} href="{% url "mainsite:home" %}" title="Homepage">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a {% if url_name == "demo" %}class="current"{% endif %} href="{% url "mainsite:demo" %}" title="Demo">
        <i class="fa fa-code" aria-hidden="true"></i> Demo
      </a>
      <a {% if url_name == "tables" %}class="current"{% endif %} href="{% url "mainsite:tables" %}" title="Resource Tables">
        <i class="fa fa-table" aria-hidden="true"></i> Tables
      </a>
      <a {% if url_name == "mappings" %}class="current"{% endif %} href="{% url "mainsite:mappings" %}" title="Available mappings">
        <i class="fa fa-map-o" aria-hidden="true"></i> Mappings
      </a>
      {% endwith %}
    </nav>

