{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_partials/head.html" %}
    {% block "extra_head" %}{% endblock %}
  </head>
  <body>
    {% include "_partials/header.html" %}

    <main>
      <div id="main_content" class="{% block "main_classes" %}{% endblock %}">
        {% include "_partials/messages.html" %}

        {% block "content" %}
        {% endblock %}
      </div>
    </main>

    {% include "_partials/footer.html" %}
    {% include "_partials/base_js.html" %}
    {% block "extra_foot" %}{% endblock %}
  </body>
</html>
