{% extends "base.html" %}

{% load static %}

{% block "main_classes" %}fullsize_page{% endblock %}

{% block "extra_head" %}
<script src="{% static "js/demo.js" %}" type="text/javascript"></script>
{% endblock %}

{% block "content" %}
<div id="demo_container">
  <form id="bb_input" action="">
    {% csrf_token %}
    <div class="bb_submit_row">
      <button id="bb_eval" type="button" title="Compute (ctrl+enter)">Compute</button>
      <label for="bb_asm">Basic block input</label>
    </div>
    <textarea
      id="bb_asm"
      name="bb_asm"
      spellcheck="false"
      wrap="off"
      rows="13"
      placeholder="Try your own basic blocks here! (GAS syntax)"
    >{{ default_code }}</textarea>
    <div class="select_wrapper in_column_flex">
      <select name="mapping_slug" id="mapping_slug">
        {% for mapping in mappings %}
        <option value="{{ mapping }}">{{ mapping }}</option>
        {% endfor %}
      </select>
      <a class="helplink" href="{% url "mainsite:mappings" %}"></a>
    </div>
    <div class="helprow">
      <a href="{% url "mainsite:demo_man" %}">What is going on here?</a>
    </div>
  </form>

  <div id="demo_result">
    <div id="res_error" style="display: none">
      The assembly you provided could not be parsed. Error:
      <div id="res_error_verbatim">
      </div>
    </div>
    <div id="res_unsupported_instrs" style="display: none">
      The following instructions are not supported and have
      been ignored for this evaluation:&nbsp;<a href="{% url "mainsite:demo_man" %}#supported_instructions" class="helplink"></a>
      <ul id="res_unsupported_instrs_list">
      </ul>
    </div>
    <div id="res_stats" style="display: none;">
      <div>
        <span id="res_cycles" class="res_stat"></span>
        cycles
        <a href="{% url "mainsite:demo_man" %}#cycles" class="helplink"></a>
      </div>
      <div>
        <span id="res_ipc" class="res_stat"></span>
        <span title="Instructions Per Cycle" class="explained">IPC</span>
        <a href="{% url "mainsite:demo_man" %}#IPC" class="helplink"></a>
      </div>
    </div>
    <div id="res_resource_usage" style="display: none">
    </div>
  </div>
</div>
{% endblock %}

{% block "extra_foot" %}
<script>
  var current_asm;
  function do_update() {
    let asm = $("#bb_asm").val();
    let mapping = $("#mapping_slug").val();
    if(asm == current_asm)
      return;
    let csrf_token = $("#bb_input").children('input[name^="csrfmiddlewaretoken"]').val();
    update_demo("{% url "mapping:map_asm" %}", mapping, asm, csrf_token);
  }

  $(document).ready(function() {
      demo_hide_response();
  });
  $("#bb_eval").on('click', do_update);
  $("#bb_asm").keypress(function(event) {
    if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey)
      do_update();
  });
</script>
{% endblock %}
