{% extends "base.html" %}

{% block "content" %}
<h1>Palmed Demo explained</h1>

<h2 id="basic_blocks">Basic blocks</h2>

<p>
A <a href="https://en.wikipedia.org/wiki/Basic_block">basic block</a> is a
block of assembly, in
<a href="https://en.wikipedia.org/wiki/GNU_Assembler">GAS</a> syntax
on this page, that contains no branches. Any branching instruction send in the
basic block input form will be <a href="#supported_instructions">ignored</a>
while plugging it into the model.
</p>

<h2 id="supported_instructions">Supported instructions</h2>

<p>For various reasons, our models are not supporting every single instruction
in the ISA. When an inputed basic block contains an unsupported instruction, it
is plainly ignored while computing the output —&nbsp;and a banner states this
clearly. Plainly ignored means that the computation will proceed as if this
instruction was not present in the output at all.</p>

<p>Here follows a list of unsupported instruction classes.</p>

<h3>Unsupported on every ISA</h3>

<ul>
  <li><em>Control flow.</em> Control flow instructions (jumps, calls, …) are
    not supported, since they are not part of basic blocks. However, this
    means that we also ignore the cost of eg. the conditional in a conditional
    jump, or the address computation.
  </li>
</ul>

<h3>Unsupported in x86-64</h3>

<ul>
  <li><em>Divisions.</em> Divisions are not supported, since their throughput
    is not easily benchmarked. Indeed, the input and output registers are
    fixed, hence creating data dependencies interfering with throughput.</li>
  <li><em>Fences.</em> Fences are by definition introducing behaviour that does
    not compose well with throughput measurements.</li>
  <li><em>Some cache control operations.</em> For the same reason, some cache
    control operations are not easily benchmarked. This includes eg.
    <span class="code">CLFSH</span>, <span class="code">PREFETCHW</span>, …
  </li>
  <li><em>x87 instructions.</em> The
    <a href="https://en.wikipedia.org/wiki/X87">x87 extension set</a> is not
    supported, since it is barely used nowadays and its microcode is generally
    sub-optimal on modern CPUs, where SSE is used instead. Additionnaly,
    composing x87 and SSE instructions in a single basic block induces a delay
    that makes model inferance difficult.
  </li>
  <li><em>AVXn, depending on the mapping.</em> Not all of our mappings support
    AVX, AVX2 and AVX512. Depending on the mapping you use, some of these
    extensions might not be available.</li>
</ul>

<h2 id="output">Output</h2>

<h3 id="throughput">Throughput measurement</h3>

<p>Our model is focused on <em>throughput</em>. This means that every insight
infered on a basic block is computed assuming:</p>

<ul>
  <li><em>No (limiting) data dependencies.</em> No instruction depends on the
    result of a previous instruction. This is equivalent to claiming that every
    instruction B depending on the result of an instruction A is "far enough"
  from A so that it has enough time to complete before B is executed.</li>

  <li><em>An infinite loop.</em> The basic block is assumed to be the body of a
    loop, executed a sufficient number of times so that it can be assumed to be
    in a steady-state.</li>
</ul>

<h3>Metrics</h3>

<p id="cycles"><em>Cycles.</em> The number of CPU cycles needed to execute the basic block
once. This number might be fractional, since we assume we are in steady state
(see above).</p>

<p id="IPC"><em>IPC (Instructions Per Cycle).</em> The number of instructions executed
per CPU cycle, on average over this basic block. This metric is relevant to HPC
experts as it describes how busy the CPU is.</p>

<h3>Resources</h3>

<p>Each abstract resource used by the given basic block is shown on this part.
Each resource can be used up to 1 per CPU cycle; thus, the Cycles metric for
this basic block is the maximal use of a resource.</p>

<p>The bottleneck resource for a given basic block is the most used one;
finding a way to alleviate the use of this resource will improve the runtime of
this basic block.</p>

<p>The use of each resource is the sum of its use by each individual
instruction. This detail can be seen by clicking on a resource in the output,
and can be used to focus the efforts on the instructions that actually
contribute significantly to a bottleneck.
{% endblock %}
