{% extends "base.html" %}

{% block "content" %}
<h1><span class="palmed"></span></h1>

<p>
<span class="palmed"></span> is a tool to establish a throughput-based
cost-model of a CPU. As a throughput-based model, dependencies between
instructions are not taken into account. It builds on top of the idea of port
mapping to perform an <span class="italic">abstract resource mapping</span> of
a processor based on a wide variety of microbenchmarks, while remaining
completely agnostic of the concrete CPU architecture, ISA, … Read about all the
details here:
</p>

<a href="{{ research_article_ieee_url }}" class="biglink">
  {{ research_article_ieee_descr }}
</a>
<a href="{{ research_article_arxiv_url }}" class="biglink">
  {{ research_article_arxiv_descr }}
</a>

<h2>Try it!</h2>

<p>Our models are presented on this website in two ways: you can either look at
the instructions tables, or play around with the model by throwing basic blocks
of assembler in, and see what comes out.</p>

<a href="{% url "mainsite:tables" %}" class="biglink">
  See the tables
</a>
<a href="{% url "mainsite:demo" %}" class="biglink">
  Try the demo
</a>

<p>Should you want to try out the tool yourself, the source code is also
available for you to look at or play with.</p>

<a href="https://gitlab.inria.fr/nderumig/palmed" class="biglink">
  Source code (Git repository)
</a>

<h2>Models</h2>

<p>On this demo website, a few different mappings are available, varying on the
architecture, CPU used, etc. Read more details about each mapping here:

<a href="{% url "mainsite:mappings" %}" class="biglink">
  Mapping details
</a>

<h2>What it does, what it does not</h2>

<p>
<span class="palmed"></span> aims at identifying the
<span class="italic">throughput-based</span> performance bottleneck of a loop
kernel, and as such, it is unable to detect <span
  class="italic">latency-based</span> performance bottlenecks.
In other words, a kernel is treated as if there were no dependency between any
two instructions and only the throughput of the used resources was taken into
account. The kernel is also treated as if it were the body of an infinite
(read: huge) loop running in steady-state.
</p>

<p>
In this abstraction, the CPU (not memory, nor cache) is modeled as a set of
abstract resources.  To be issued, an instruction must use (with a fixed ratio)
some of those resources.  This corresponds to what we call the
<span class="italic">abstract resource mapping</span> which is a dual
(conjunctive form) representation of the more known port mapping (disjunctive
form) representation. Check the details
<a href="{% url "mainsite:demo_man" %}#throughput">here</a> or in the research
article.
</p>

<h2 id="team">Who are we?</h2>

<p>
<span class="palmed"></span> is made by the
<a href="https://team.inria.fr/corse/">CORSE Inria team</a>.
It is part of the PhD of
<a href="https://team.inria.fr/corse/team-members/#nicolas-d">Nicolas
Derumigny</a> and under the supervision of
<a href="https://team.inria.fr/corse/team-members/#fabrice">Fabrice Rastello</a>.
Other contributors include
<a href="https://team.inria.fr/corse/team-members/#tbastian">Théophile Bastian</a>
(PhD student at CORSE),
<a href="https://team.inria.fr/corse/team-members/#fgruber">Fabian Gruber</a>
(former PhD student at CORSE),
and Christophe Guillon (engineer at STMicroelectronics).
</p>

<h2 id="other_projects">Related projects</h2>

<p>
<span class="palmed"></span> is not the only tool in its category! Here are a
few other related projects:
</p>

<ul>
  <li>
    <em><a href="https://uops.info/">uops.info</a></em>
    provides large data tables and port mappings for many x86
    microarchitectures.  These tables are extracted from a wide variety of
    sources, including the official documentations.
    The core contribution of uops.info is to retrieve the port mapping of
    various architectures using instrumented micro-kernels.  It requires
    hardware counters currently available only on x86 microarchitectures (Intel
    and AMD).
  </li>

  <li>
    The <em><a href="https://software.intel.com/content/www/us/en/develop/articles/intel-architecture-code-analyzer.html">Intel Architecture Code Analyzer (IACA)</a></em>
    is closely related to
    <span class="palmed"></span> in features, as it performs throughput and
    latency analysis of given basic blocks.  Unlike
    <span class="palmed"></span>, IACA both considers throughput resource usage
    and latency between dependent instructions. However, the tool is
    closed-source and is directly based off microarchitectural informations,
    strongly tying it to Intel CPUs.
  </li>

  <li>
    <em><a href="https://arxiv.org/abs/1808.07412">Ithemal</a></em>
    is a tool that provides throughput analysis
    <span class="palmed"></span> on a basic block, using a deep learning
    approach. As opposed to  <span class="palmed"></span>, Ithemal does not ignore data dependencies.
    The machine learning based approach provides a black-box costly performance model.
  </li>

  <li>
    <em><a href="https://compilers.cs.uni-saarland.de/papers/ritter_pmevo_pldi20.pdf">
      PMEvo</a></em>
    is another similar tool for computing a port mapping.
    Similarly to <span class="palmed"></span>, it does not require any specific
    hardware counter. Its approach is based on evolutionary optimization.
  </li>

  <li>
<em><a href="https://www.agner.org/optimize/">
    Agner Fog</a></em> maintains a list of instruction latencies and throughput for Intel, AMD and VIA CPUs.
As opposed to the previous projects, it does not provide any port mapping required to model the sharing of resources between instructions.
  </li>
</ul>

{% endblock %}
