{% extends "base.html" %}
{% load static %}

{% block "main_classes" %}fullsize_page{% endblock %}

{% block "extra_head" %}
<script src="{% static "js/resource_table.js" %}" type="text/javascript"></script>
{% endblock %}

{% block "content" %}
<div class="settings_container">
  <div id="searchbar" class="form">
    <label for="searchbar_txt"><i class="fa fa-filter" aria-hidden="true"></i> </label>
    <input type="text" id="searchbar_txt" name="searchbar_txt"
                 placeholder="Filter..." />
  </div>
  <div id="mapping_selector" class="form">
    <div class="select_wrapper">
      <select name="mapping_slug" id="mapping_slug">
        {% for mapping in mappings %}
        <option value="{{ mapping }}">{{ mapping }}</option>
        {% endfor %}
      </select>
      <a class="helplink" href="{% url "mainsite:mappings" %}"></a>
    </div>
  </div>
</div>

<table class="mapping_table">
  <thead>
    <tr>
      <th>
        Instruction
        <span class="sort_btn sort_btn_name"></span>
      </th>
      <th>
        Canonical instr.
        <span class="sort_btn sort_btn_repr"></span>
      </th>
      <th>
        IPC
        <span class="sort_btn sort_btn_IPC"></span>
      </th>
      <th>
        Latency
        <span class="sort_btn sort_btn_latency"></span>
      </th>
      <th>
        Mapping
      </th>
    </tr>
  </thead>

  <tbody id="mapping_table_body">
    <tr>
      <td colspan="5">No instructions</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th>
        Instruction
        <span class="sort_btn sort_btn_name"></span>
      </th>
      <th>
        Canonical instr.
        <span class="sort_btn sort_btn_repr"></span>
      </th>
      <th>
        IPC
        <span class="sort_btn sort_btn_IPC"></span>
      </th>
      <th>
        Latency
        <span class="sort_btn sort_btn_latency"></span>
      </th>
      <th>
        Mapping
      </th>
    </tr>
  </tfoot>
</table>
{% endblock %}

{% block "extra_foot" %}

<script>
  var current_mapping;

  function do_update() {
    let query = $("#searchbar_txt").val();
    let mapping = $("#mapping_slug").val();
    update_table(
      `{% url "mapping:table_find_instruction"%}?mapping=${mapping}&q=`, query
    );
  }

  function on_mapping_change() {
    let mapping = $("#mapping_slug").val();
    if(current_mapping == mapping)
      return;
    current_mapping = mapping;
    do_update();
  }

  $(document).ready(function() {
    add_sort_click_handlers();
    do_update();
  });
  $('#searchbar_txt').on('input', delay_callback(do_update, 500));
  $('#mapping_slug').on('change', delay_callback(on_mapping_change, 200));
</script>
{% endblock %}
