@font-face {
	font-family:'Inria Sans';
	src:	url('../fonts/InriaSans-Light.eot');
	src:	url('../fonts/InriaSans-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/InriaSans-Light.woff2') format('woff2'),
			url('../fonts/InriaSans-Light.woff') format('woff'),
			url('../fonts/InriaSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('../fonts/InriaSans-LightItalic.eot');
	src:	url('../fonts/InriaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/InriaSans-LightItalic.woff2') format('woff2'),
			url('../fonts/InriaSans-LightItalic.woff') format('woff'),
			url('../fonts/InriaSans-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('../fonts/InriaSans-Italic.eot');
	src:	url('../fonts/InriaSans-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/InriaSans-Italic.woff2') format('woff2'),
			url('../fonts/InriaSans-Italic.woff') format('woff'),
			url('../fonts/InriaSans-Italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('../fonts/InriaSans-Regular.eot');
	src:	url('../fonts/InriaSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/InriaSans-Regular.woff2') format('woff2'),
			url('../fonts/InriaSans-Regular.woff') format('woff'),
			url('../fonts/InriaSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('../fonts/InriaSans-Bold.eot');
	src:	url('../fonts/InriaSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/InriaSans-Bold.woff2') format('woff2'),
			url('../fonts/InriaSans-Bold.woff') format('woff'),
			url('../fonts/InriaSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Inria Sans';
	src:	url('../fonts/InriaSans-BoldItalic.eot');
	src:	url('../fonts/InriaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/InriaSans-BoldItalic.woff2') format('woff2'),
			url('../fonts/InriaSans-BoldItalic.woff') format('woff'),
			url('../fonts/InriaSans-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

