@import url(fonts.css);
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #384257;
  color: #FFFFFF;
  margin: 0;
  padding: 20px 30px;
  padding-bottom: 0; }
  @media (min-width: 1250px) {
    header {
      margin-bottom: -60px;
      padding-left: 80px;
      padding-right: 80px;
      border-bottom: 5px solid #E63312; } }
  @media (max-width: 700px) {
    header {
      flex-direction: column;
      padding: 5px; } }
  header #head_main_infos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.2em;
    font-family: "Inria Sans"; }
    @media (min-width: 1250px) {
      header #head_main_infos {
        font-size: 1.4em;
        margin-bottom: 60px; } }
    @media (min-width: 900px) {
      header #head_main_infos {
        display: block; } }
    @media (max-width: 700px) {
      header #head_main_infos {
        flex-direction: row;
        font-size: 12pt;
        flex-wrap: wrap;
        justify-content: center; } }
    header #head_main_infos div {
      padding: 0 0.125em; }
  header .head_logo {
    padding: 10px; }
    @media (min-width: 1250px) {
      header .head_logo {
        padding-bottom: 30px; } }
    header .head_logo a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 2.5em;
      font-variant: small-caps; }
      header .head_logo a div {
        margin-left: 10px; }
    header .head_logo img {
      height: 90px;
      max-width: 200px; }
      @media (max-width: 700px) {
        header .head_logo img {
          height: 45px; } }
nav {
  display: flex;
  justify-content: center;
  background-color: #384257;
  color: #FFFFFF;
  margin: 0;
  padding: 0 30px;
  border-bottom: 5px solid #E63312; }
  @media (min-width: 1250px) {
    nav {
      justify-content: flex-end;
      background-color: transparent;
      padding: 0;
      margin-left: 300px;
      margin-right: 80px;
      border-bottom: none; } }
  @media (max-width: 900px) {
    nav {
      flex-wrap: wrap;
      padding: 0; } }
  @media (max-width: 475px) {
    nav {
      flex-direction: column; } }
  nav #mobile_nav_trigger {
    padding-left: 15px;
    text-align: center; }
    @media (min-width: 476px) {
      nav #mobile_nav_trigger {
        display: none; } }
  @media (max-width: 475px) {
    nav a {
      display: none; } }
  nav a, nav div {
    margin: 0;
    padding: 10px 20px;
    height: 55px;
    color: #FFFFFF;
    font-size: 18pt;
    text-decoration: none; }
    nav a i.fa, nav div i.fa {
      margin-right: 5px; }
    nav a:hover, nav div:hover {
      color: #FFFFFF;
      background-color: #4c5a76; }
    nav a.current, nav div.current {
      background-color: #E63312; }
    nav a:focus, nav div:focus {
      color: #FFFFFF;
      background-color: #4c5a76;
      box-shadow: none; }
    @media (min-width: 475px) {
      nav a, nav div {
        border-radius: 5px 5px 0 0; } }
    @media (max-width: 900px) {
      nav a, nav div {
        height: auto;
        padding: 10px 15px;
        font-size: 12pt; } }
    @media (max-width: 475px) {
      nav a, nav div {
        padding-left: 35px; } }
table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #384257; }
  table td, table th {
    border: 1px solid black;
    padding: 5px; }
  table th {
    background-color: #b8d1ff; }
  table tbody tr:nth-child(even) {
    background-color: rgba(184, 209, 255, 0.3); }
  table tbody tr:nth-child(odd) {
    background-color: white; }

.settings_container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between; }
  .settings_container #searchbar {
    border: 2px solid #384257;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 0 70%;
    margin-right: 10px;
    background-color: rgba(56, 66, 87, 0.08); }
    .settings_container #searchbar:focus-within {
      border-color: #E63312; }
    .settings_container #searchbar input {
      border: 0;
      padding: 3px;
      flex-grow: 1;
      outline: 0;
      margin: 0 5px;
      box-shadow: none;
      background-color: transparent; }
    .settings_container #searchbar label {
      padding: 3px;
      margin: 0 5px; }
  .settings_container #mapping_selector {
    flex: 1 0 25%;
    margin-left: 10px; }
    .settings_container #mapping_selector .select_wrapper {
      height: 100%; }

.mapping_table {
  margin-top: 15px;
  table-layout: fixed;
  font-family: "Inconsolata"; }
  .mapping_table thead th:nth-child(1) {
    width: 25%; }
  .mapping_table thead th:nth-child(2) {
    width: 25%; }
  .mapping_table thead th:nth-child(3) {
    width: 8%; }
  .mapping_table thead th:nth-child(4) {
    width: 8%; }
  .mapping_table thead th:nth-child(5) {
    width: 35%; }
  .mapping_table th .sort_btn {
    font-size: 0.8em;
    float: right;
    margin: 0 5px; }
    .mapping_table th .sort_btn:hover {
      cursor: pointer; }
  .mapping_table .reschunk {
    display: inline-block; }
    .mapping_table .reschunk .resweight {
      margin-right: 0.5ex; }
      .mapping_table .reschunk .resweight .resnum, .mapping_table .reschunk .resweight .resden, .mapping_table .reschunk .resweight .resnat, .mapping_table .reschunk .resweight .resfracbar {
        font-size: 0.8em;
        position: relative; }
      .mapping_table .reschunk .resweight .resnum {
        top: -3px; }
      .mapping_table .reschunk .resweight .resden {
        top: 3px; }
  .mapping_table .resplus {
    margin: 0 0.75ex; }

#demo_container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  flex-direction: column; }
  @media (min-width: 700px) {
    #demo_container {
      flex-direction: row; } }
  #demo_container #bb_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px; }
    @media (min-width: 700px) {
      #demo_container #bb_input {
        flex: 1 0 0;
        margin-right: 10px;
        margin-bottom: 0; } }
    #demo_container #bb_input .bb_submit_row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 5px; }
      @media (min-width: 900px) {
        #demo_container #bb_input .bb_submit_row {
          flex-direction: row; } }
      #demo_container #bb_input .bb_submit_row label {
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px; }
        @media (min-width: 900px) {
          #demo_container #bb_input .bb_submit_row label {
            margin-top: 0;
            order: -1; } }
      #demo_container #bb_input .bb_submit_row button {
        height: 100%;
        border: 2px solid #384257;
        border-radius: 5px;
        padding: 6px;
        background-color: #384257;
        color: white;
        font-size: 100%;
        transition-duration: 0.3s;
        outline: 0; }
        #demo_container #bb_input .bb_submit_row button:hover {
          background-color: #566586; }
        #demo_container #bb_input .bb_submit_row button:active, #demo_container #bb_input .bb_submit_row button:focus {
          outline: 0; }
        #demo_container #bb_input .bb_submit_row button:active {
          background-color: #E63312; }
    #demo_container #bb_input textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: 2px solid #384257;
      border-radius: 5px;
      padding: 5px;
      outline: 0;
      box-shadow: none;
      font-family: "Inconsolata";
      background-color: rgba(56, 66, 87, 0.08); }
    #demo_container #bb_input .select_wrapper {
      margin-top: 10px; }
    #demo_container #bb_input .helprow {
      width: 100%;
      text-align: right;
      font-size: 0.9em;
      margin-top: 10px; }
  @media (min-width: 700px) {
    #demo_container #demo_result {
      margin-left: 10px;
      flex: 1 0 0; } }
  #demo_container #demo_result #res_error {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ff7979;
    background-color: #ffdfdf;
    color: black;
    font-size: 0.85em;
    display: none;
    margin-bottom: 10px; }
    #demo_container #demo_result #res_error #res_error_verbatim {
      font-family: "Inconsolata"; }
  #demo_container #demo_result #res_unsupported_instrs {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ffb406;
    background-color: #ffd36c;
    color: black;
    font-size: 0.85em;
    display: none;
    margin-bottom: 10px; }
    #demo_container #demo_result #res_unsupported_instrs ul {
      margin: 5px 0; }
      #demo_container #demo_result #res_unsupported_instrs ul li {
        font-family: "Inconsolata"; }
  #demo_container #demo_result #res_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; }
    #demo_container #demo_result #res_stats > div {
      border: 2px solid #384257;
      background-color: rgba(56, 66, 87, 0.08);
      padding: 5px;
      border-radius: 5px;
      font-weight: bold;
      width: 40%;
      text-align: center; }
      @media (min-width: 1250px) {
        #demo_container #demo_result #res_stats > div {
          width: 30%; } }
      #demo_container #demo_result #res_stats > div .res_stat {
        color: #E63312; }
  #demo_container #demo_result #res_resource_usage {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr 5fr;
    grid-row-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: stretch; }
    #demo_container #demo_result #res_resource_usage .resource_collapse {
      grid-column: 1 / span 1;
      width: 100%; }
      #demo_container #demo_result #res_resource_usage .resource_collapse:hover {
        cursor: pointer; }
    #demo_container #demo_result #res_resource_usage .resource_name {
      grid-column: 2 / span 1;
      text-align: center;
      font-weight: bold; }
      #demo_container #demo_result #res_resource_usage .resource_name:hover {
        cursor: pointer; }
    #demo_container #demo_result #res_resource_usage .resource_usage {
      grid-column: 3 / span 1;
      border: 2px solid #384257;
      background-color: rgba(56, 66, 87, 0.08);
      border-radius: 3px; }
      #demo_container #demo_result #res_resource_usage .resource_usage .progressbar_fill {
        height: 40px;
        background-color: #E63312; }
      #demo_container #demo_result #res_resource_usage .resource_usage .progressbar_label_parent {
        position: relative; }
        #demo_container #demo_result #res_resource_usage .resource_usage .progressbar_label_parent > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
      #demo_container #demo_result #res_resource_usage .resource_usage .progressbar_label {
        background-color: #ffffffaa;
        border-radius: 3px;
        color: black;
        padding: 3px;
        margin: 2px;
        height: 30px;
        font-size: 26px;
        line-height: 24px; }
      #demo_container #demo_result #res_resource_usage .resource_usage:hover {
        cursor: pointer; }
      #demo_container #demo_result #res_resource_usage .resource_usage .resource_bar.resource_bar_fine {
        background-color: #65b575; }
      #demo_container #demo_result #res_resource_usage .resource_usage .resource_bar.resource_bar_meh {
        background-color: #ffd36c; }
      #demo_container #demo_result #res_resource_usage .resource_usage .resource_bar.resource_bar_warn {
        background-color: #e89b09; }
      #demo_container #demo_result #res_resource_usage .resource_usage .resource_bar.resource_bar_crit {
        background-color: #E63312; }
    #demo_container #demo_result #res_resource_usage .resource_details {
      grid-column: 3 / span 1;
      display: grid;
      grid-template-columns: 2fr 3fr;
      border: 1px solid #384257;
      border-radius: 5px;
      padding: 10px;
      row-gap: 5px;
      grid-row-gap: 5px;
      align-items: center;
      justify-content: stretch; }
      #demo_container #demo_result #res_resource_usage .resource_details .instr_detail_label {
        grid-column: 1/span 1;
        font-family: "Inconsolata";
        font-size: 0.8em; }
      #demo_container #demo_result #res_resource_usage .resource_details .instr_detail_usage {
        grid-column: 2/span 1;
        border: 2px solid #384257;
        background-color: rgba(56, 66, 87, 0.08);
        border-radius: 3px; }
        #demo_container #demo_result #res_resource_usage .resource_details .instr_detail_usage .progressbar_fill {
          height: 20px;
          background-color: #3fb5d9; }
        #demo_container #demo_result #res_resource_usage .resource_details .instr_detail_usage .progressbar_label_parent {
          position: relative; }
          #demo_container #demo_result #res_resource_usage .resource_details .instr_detail_usage .progressbar_label_parent > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center; }
        #demo_container #demo_result #res_resource_usage .resource_details .instr_detail_usage .progressbar_label {
          background-color: #ffffffaa;
          border-radius: 3px;
          color: black;
          padding: 3px;
          margin: 2px;
          height: 18px;
          font-size: 16px;
          line-height: 13px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #FFFFFF;
  font-size: 16pt;
  font-family: "Open Sans";
  color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; }
  @media (max-width: 700px) {
    body {
      font-size: 12pt; } }
main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto; }

#main_content {
  width: 800px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: justify; }
  #main_content.fullsize_page {
    width: 100%;
    margin: 0 20px; }

footer {
  margin-top: auto;
  background-color: #384257;
  border-top: 5px solid #E63312;
  font-size: 12pt; }
  footer #footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 70px;
    margin: 0 auto; }
    @media (min-width: 1040px) {
      footer #footer_content {
        width: 1040px;
        padding: 15px; } }
    @media (max-width: 650px) {
      footer #footer_content {
        width: 100%;
        padding: 15px 20px; } }
  footer #sponsors {
    display: flex;
    align-items: center; }
    @media (max-width: 400px) {
      footer #sponsors {
        flex-direction: column; } }
    footer #sponsors img {
      margin: 0;
      height: 40px;
      margin-right: 20px; }
      @media (min-width: 560px) {
        footer #sponsors img {
          height: 50px;
          margin-right: 40px; } }
      @media (max-width: 400px) {
        footer #sponsors img {
          margin-bottom: 10px;
          margin-right: 10px; }
          footer #sponsors img:last-child {
            margin-bottom: 0; } }
      footer #sponsors img:last-child {
        margin-right: 0; }
  footer #footer_links {
    list-style-type: none;
    padding: 0;
    margin: 0 10px; }
    footer #footer_links a {
      color: rgba(255, 255, 255, 0.8); }
      footer #footer_links a:hover {
        color: rgba(230, 230, 230, 0.8); }

a {
  text-decoration: underline;
  color: #c6491add;
  border-radius: 3px; }
  a:hover {
    color: rgba(108, 40, 14, 0.866667); }
  a.helplink {
    color: black;
    text-decoration: none;
    font-family: "FontAwesome";
    font-size: 0.8em;
    position: relative;
    top: -0.1em;
    padding-left: 5px; }
    a.helplink:hover {
      color: #c45d37; }
    a.helplink::before {
      content: '\f059'; }
  a.biglink {
    text-decoration: none;
    width: 65%;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px auto;
    background-color: #E63312;
    color: #FFFFFF; }
    a.biglink:hover {
      background-color: #9b004f; }

:focus {
  outline: none;
  box-shadow: 0 0 1.5px 1px #c6491add; }

::-moz-focus-inner {
  border: none; }

.messages {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  font-size: 0.8em; }
  .messages li {
    margin: 8px 0; }

.error {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ff7979;
  background-color: #ffdfdf;
  color: black; }

.info {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #6562ff;
  background-color: #c9c8ff;
  color: black; }

.warning {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ffb406;
  background-color: #ffd36c;
  color: black; }

.success {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #7af733;
  background-color: #bafb95;
  color: black; }

.antispam {
  unicode-bidi: bidi-override;
  direction: rtl; }

.fa-slow-spin {
  animation: fa-spin 15s infinite linear; }

/* Select */
.select_wrapper {
  width: 100%;
  height: 40px;
  position: relative; }
  .select_wrapper.in_column_flex {
    flex: 0 0 40px; }
  .select_wrapper select {
    width: 100%;
    height: 100%;
    outline: 0;
    box-shadow: none;
    background-color: rgba(56, 66, 87, 0.08);
    border: 2px solid #384257;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .select_wrapper::after {
    content: "\25bc";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 10px;
    line-height: 35px;
    font-size: 15px;
    background-color: #384257;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
    z-index: -1; }
  .select_wrapper .helplink {
    display: flex;
    position: absolute;
    height: 40px;
    right: 0;
    top: 0;
    right: 40px;
    z-index: 1;
    padding: 0;
    font-size: 1em;
    flex-direction: column;
    justify-content: center; }

.explained {
  text-decoration: underline black dotted; }

em {
  font-weight: bold;
  font-style: normal; }

.italic {
  font-style: italic; }

.palmed {
  font-variant: small-caps; }
  .palmed::before {
    content: 'Palmed'; }

.mapping_category {
  margin-bottom: 8px;
  margin-top: 35px; }

.mappinglist {
  list-style: none;
  border-left: 2px solid #384257;
  margin-top: 0;
  margin-left: 10px;
  padding-left: 0; }
  .mappinglist li {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 10px; }
  .mappinglist .mappingtagrow {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column; }
    @media (min-width: 550px) {
      .mappinglist .mappingtagrow {
        flex-direction: row; } }
  .mappinglist .mappingtag {
    border: 1px solid #384257;
    box-shadow: 2px 2px 1px #384257;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 5px;
    flex: 0 0 auto; }
  .mappinglist a.mappingtag {
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 1px #c6491add;
    border-color: #c6491add; }
    .mappinglist a.mappingtag:hover {
      box-shadow: 2px 2px 2px 1px #c6491add; }
  .mappinglist .mappingname {
    background-color: #384257;
    box-shadow: 2px 2px 1px rgba(56, 66, 87, 0.4);
    color: white;
    font-weight: bold; }
  .mappinglist .mappingcpu::before {
    font-family: "FontAwesome";
    content: "\f2db"; }
  .mappinglist .mappingarch::before {
    font-family: "FontAwesome";
    content: "\f085"; }
  .mappinglist .mappingisa::before {
    font-family: "FontAwesome";
    content: "\f013"; }
  .mappinglist .mappingsrc {
    margin: 3px 0;
    margin-left: 35px;
    border-left: 3px solid #E63312;
    background-color: rgba(230, 51, 18, 0.1);
    border-radius: 5px;
    padding-left: 10px; }
    .mappinglist .mappingsrc::before {
      font-family: "FontAwesome";
      content: "\f071";
      color: #E63312; }
  .mappinglist .mappingdescr {
    margin-left: 30px; }
